/* about.css */

/* General styling for the main section */
body{
    background-color: antiquewhite;
    position: relative;
}
.about-container{
    position: absolute;
    min-height: 100%;
}
.about-container>*{
    height:min-content;
}
main {
    width: 100%;
    height: 100%;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #ded7d7;

    display: flex;
    flex-direction: column;
    
    gap:1rem;
}
main>*{
    width: 100%;
    padding: 1vh 1vw;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

main h1 {
    font-size: 2.5em;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
}

main h2 {
    font-size: 1.75em;
    color: #34495e;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}

main p {
    font-size: 1em;
    color: #7f8c8d;
    line-height: 1.6;
    margin-bottom: 15px;
}

main ul {
    list-style-type: disc;
    padding-left: 20px;
}

main ul li {
    margin-bottom: 10px;
    font-size: 1em;
    color: #7f8c8d;
}

main a {
    color: #2980b9;
    text-decoration: none;
}

/* section{
    
    display: flex;
    flex-direction: column;
    background-color: gray;
    gap:1rem;
}
section>*{
   
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
} */

footer {
    width: 100%;
    margin-top: 2%;
    line-height: 180%;
    font-size: 2em;
    height: auto;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1vh 0;
    overflow: hidden;
}

.footer-img>img {
    border: 1px white solid;
    position: absolute;
    top: 0;
    left: 25vw;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
/* Responsive Design */
@media (max-width: 768px) {
    main {
        padding: 15px;
    }

    main h1 {
        font-size: 2em;
    }

    main h2 {
        font-size: 1.5em;
    }

    main p, main ul li {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    main {
        padding: 10px;
    }

    main h1 {
        font-size: 1.75em;
    }

    main h2 {
        font-size: 1.25em;
    }

    main p, main ul li {
        font-size: 0.85em;
    }
    footer {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        font-size: small;
        width: 100%;
        height: auto;
        position: relative;
    }



    .footer-img>img {
        left: 170px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}
