@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ecf0f3;
}

.contact-container {

    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    padding: 1%;
    height: 100%;

}

.wrapper,
.wrapper .img-area {
    border: 2px blueviolet solid;
}

.wrapper,
.wrapper .img-area,
.social-icons a {

    background: #ecf0f3;
    box-shadow: -3px -3px 7px #ffffff,
        3px 3px 5px #ceced1;
}

.wrapper {
    width: 30vw;
    min-height: 33vh;
    position: relative;
    padding: 5%;
    gap: 2.2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper .icon {
    font-size: 17px;
    color: #31344b;
    position: absolute;
    cursor: pointer;
    opacity: 0.7;
    top: 15px;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    font-size: 16px;
}

.wrapper .icon i {
    position: relative;
    z-index: 9;
}

.wrapper .icon.arrow {
    left: 15px;
}

.wrapper .icon.dots {
    right: 15px;
}

.img-area .inner-area {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.inner-area img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.wrapper .img-area {
    border: 2px solid #E1306C;
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.img-area .inner-area {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.inner-area img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.wrapper .name {
    font-size: 23px;
    font-weight: 500;
    color: #31344b;
    margin: 10px 0 5px 0;
}

.wrapper .about {
    color: #44476a;
    font-weight: 400;
    font-size: 16px;
}

.social-icons {
    display: flex;
    gap: 3vw;
    margin: 0 0 0 0;
}

.social-icons a {
    position: relative;
    height: min-content;
    width: 2vw;
    margin: 0 0.5px 2px;
    display: inline-flex;
    text-decoration: none;
    border-radius: 50%;
}

.social-icons a:hover::before,
.wrapper .icon:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background: #ecf0f3;
    box-shadow: inset -30px -30px 70px #ffffff,
        inset 30px 30px 50px #ceced1;
}

.social-icons a i {
    position: relative;
    z-index: 3;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 40px;
}

.social-icons a.fb i {
    color: #4267B2;
}

.social-icons a.twitter i {
    color: #1DA1F2;
}

.social-icons a.insta i {
    color: #E1306C;
}

.social-icons a.yt i {
    color: #ff0000;
}

/* from here starts media query */
@media all and (max-width:500px) {
    .contact-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .contact-container>* {
        font-size: large;
        width: 70vw;
        gap: 1rem;
        height: auto;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }


    .wrapper .img-area {
        border: 2px solid #E1306C;
        height: 20vw;
        width: 20vw;
        border-radius: 50%;
    }

    .name {
        transform: scale(1.5);
        
    }


    .social-icons a {
        width: 10vw;
        height: 10vw;
        bottom:1vh;
        background-color: white;
    }

}
